SOURCING1688_PROVIDER=auto
SOURCING1688_HOME=~/.sourcing1688
SOURCING1688_DB_PATH=
SOURCING1688_OUTPUT_DIR=
SOURCING1688_BROWSER_PROFILE=
SOURCING1688_BROWSER_HEADLESS=false
ALI1688_APP_KEY=
ALI1688_APP_SECRET=
ALI1688_REFRESH_TOKEN=
ALI1688_ACCESS_TOKEN=
ALI1688_TOKEN_CACHE_PATH=
ALI1688_API_BASE=https://gw.open.1688.com/openapi/param2/1
SOURCING1688_RATE_LIMIT_SECONDS=2
SOURCING1688_MAX_PAGES=3
SOURCING1688_LIVE_SMOKE=false
